---
---
<article class="boxSeccion" id="elegirnos">
	<div class="fondoBox">
		<div class="fondo"></div>
	</div>
	<div class="boxWrap">
		<div class="capsula">
			<div class="col col1">
				<div><strong class="titulo">¿Por qué elegirnos?</strong></div>
				<p>
					Nosotros nos encargamos de principio a fin.<br />
					Estamos contigo hasta recibir favorables tus resoluciones.
				</p>
			</div>
			<div class="col col2">
				<div class="globo">
					Cumplimiento integral (normativo, técnico y documental)
				</div>
				<div class="globo">
					Conocimiento técnico y legal actualizado
				</div>
				<div class="globo">Experiencia en sector público y privado</div>
				<div class="globo">Atención 100% personalizada</div>
			</div>
		</div>
	</div>
</article>
