---
import HeroElegirnos from "./Hero-elegirnos.astro";
import HeroServicios from "./Hero-servicios.astro";
import HeroSectores from "./Hero-sectores.astro";
import HeroTestimonios from "./Hero-testimonios.astro";
---

<main class="hero">
	<HeroElegirnos />
	<HeroServicios />
	<HeroSectores />
	<HeroTestimonios />
</main>
